.homepage-bg-image {
    background-image: url("images/tools-pad.jpg");
    padding: 100px 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.barbers-bg-image {
    background-image: url("images/tools-brush.jpg");
    padding: 100px 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.barbers-profile {
    width: 30%;
    height: 50%;
    margin: 20px;
    border-radius: 10%;
}

.book-cancel-bg-image {
    background-image: url("images/wood.jpg");
    padding: 30px 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}